@model Marmosets
@{
	ViewData["Title"] = "Recherche";
	Marmosets marmosets = Model;
}

<h1>Vous avez supprimé :</h1>

<div class="card" style="width: 18rem;">

		@{
		<h5 class="card-title">@marmosets.Nom </h5>
			<p class="card-text">

			</p>
		}
		<br /><br /><br />
		<a href="/home" class="btn btn-primary">Menu</a>
	</div>
</div>